* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

input {
	font-family: "Poppins", sans-serif;
}

body {
	height: 100vh;

	font-family: "Poppins", sans-serif;

	background-color: #1E2140;
}

.pomodoro_modes ul {
	display: flex;
	padding: 5px;

	border-radius: 25px;
	background-color: #151932;
}

.pomodoro_modes li {
	padding: 5px 15px;

	border-radius: 25px;

	font-size: 11px;
	font-weight: 800;
	color: #545871;

	cursor: pointer;
}

.pomodoro_modes li:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

.pomodoro_modes li.active {

	color: #6e2c3e;
}

.pomodoro_modes li:not(:last-child) {
	margin-right: 5px;
}

.pomodoro_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 90%;
}

.progress_bar_wrapper {
	display: grid;
	height: 300px;
	width: 300px;

	border-radius: 50%;
	background-color: #1E2140;
	box-shadow: -80px -20px 80px 0px #262b55, 80px 20px 80px 0px #141835;

	place-items: center;
}

.progress_bar_shadow {
	width: 100%;
	height: 100%;
	padding: 15px;

	border-radius: 50%;
	box-shadow: 10px 10px 80px 20px #292d52 inset,
}

.progress_bar {
	position: relative;

	display: grid;
	height: 100%;
	width: 100%;

	background: #F67171;
	border-radius: 50%;

	place-items: center;
}

.progress_bar::before {
	content: "";

	position: absolute;

	height: 95%;
	width: 95%;

	background-color: #1E2140;
	border-radius: 50%;
}

.time_value {
	position: relative;

	font-size: 76px;
	font-weight: 700;
	color: #d5e0fe;
}

.play_pause {
	position: absolute;
	bottom: 20%;
	left: 55%;
	transform: translate(-55%, -20%);

	border: none;
	outline: none;
	background: none;

	font-size: 18px;
	letter-spacing: 15px;
	color: #d5e0fe;

	cursor: pointer;
}

.title {
	margin-top: 50px;

	color: #ced3ee;
}

.settings_icon {
	color: #ced3ee;

	cursor: pointer;
}

.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	overflow-y: auto;

	display: none;
	justify-content: center;
	align-items: center;
	z-index: 99;

	background-color: rgba(0, 0, 0, 0.5);
}

.modal_settings {
	padding: 30px;

	border-radius: 25px;
	background-color: #fff;
}

.modal_settings_title {
	position: relative;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 15px;
	margin-bottom: 15px;

	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.settings_close {
	margin-right: 5px;

	font-weight: 700;
	color: #b4b3b8;

	cursor: pointer;
}

.settings_close:hover {
	color: #000000;
}

.modal_settings h3 {
	letter-spacing: 5px;
}

.modal_settings_time {
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.modal_settings_inputs {
	display: grid;
	grid-template-areas: "labelPomodoro labelShort labelLong"
											"inputPomodoro inputShort inputLong";
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 5px 15px;
	margin: 15px 0 30px 0;
}

.pomodoro {
	grid-area: labelPomodoro;
}

.short_break {
	grid-area: labelShort;
}

.long_break {
	grid-area: labelLong;
}

#pomodoro {
	grid-area: inputPomodoro;
}

#short_break {
	grid-area: inputShort;
}

#long_break {
	grid-area: inputLong;
}

.modal_settings_inputs label {
	opacity: 0.5;
}

.modal_settings_inputs input {
	width: 120px;
	padding: 15px 10px;

	border: none;
	border-radius: 15px;
	outline: none;
	background-color: #eef1fa;
}

.modal_settings_font,
.modal_settings_color,
.modal_settings ul,
.modal_settings li {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal_settings_font {
	padding: 15px 0;

	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.modal_settings_color {
	padding: 15px 0;
}

.modal_settings li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;

	border-radius: 50%;

	cursor: pointer;
}

.modal_settings li:not(:last-child) {
	margin-right: 10px;
}

.font_type li {
	background-color: #eff0f8;
}

.font_type li.active {
	background-color: #161828;
	color: #d5d9e2;
}

.red {
	background-color: #f1756d;
}

.skyblue {
	background-color: #71f1f7;
}

.purple {
	background-color: #da80fb;
}

.color_type li {
	position: relative;
}

.color_type li.active::before {
	content: "✔";
	font-size: 26px;
}

.modal_settings_apply {
	height: 0;
	position: relative;
}

.apply {
	position: relative;
	bottom: -5px;
	left: 50%;
	transform: translate(-50%, 5px);

	padding: 10px 35px;

	border: none;
	border-radius: 25px;
	outline: none;
	background-color: #f67073;

	font-weight: 700;
	color: #f9dedb;

	cursor: pointer;
}

.poppins {
	font-family: "Poppins", sans-serif;
}

.pt_sans {
	font-family: "PT Sans", sans-serif;
}

.oswald {
	font-family: "Oswald", sans-serif;
}

@media (max-width: 767px){
	.time_title {
		text-align: center;
	}
	.modal_settings_inputs {
		grid-template-areas: "labelPomodoro inputPomodoro"
												 "labelShort inputShort"
												 "labelLong inputLong";
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}

	.modal_settings_font,
	.modal_settings_color {
		flex-direction: column;
		row-gap: 10px;
	}

	.modal_settings h3 {
		font-size: 14px
	}

	.modal_settings_inputs label {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 13px
	}

	.modal_settings_inputs input {
		padding: 10px 10px;
	}

	.modal_settings {
		padding: 20px;
	}
}